.brand {
  background: -webkit-linear-gradient(
    135deg,
    rgba(193, 4, 126, 0.8),
    rgba(166, 19, 214, 0.8),
    rgba(20, 7, 211, 0.8)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header_shadow {
  box-shadow: 0 0.0625pc 0 0 rgba(139, 141, 157, 0.05),
    10px 0.0625pc 0.4375pc 0 rgba(65, 71, 108, 0.15) !important;
}
