/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"); */
.image {
  padding-top: 20%;
  padding-left: 20px;
  height: 460px;
  background-image: url("../../../assets/wellcomesign.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.background {
  padding: 5%;
  height: 91vh;
  background-color: #f8f9fa;
  /* background-image: linear-gradient(135deg, #f7ca7d, #faa4a1); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}
.form {
  box-shadow: 0in 1px 6.75pt -0.020833333in #d2d2d2 !important;
}
