.post {
  box-shadow: none !important;
}

.banner {
  background-image: linear-gradient(
      135deg,
      rgba(4, 6, 134, 0.9),
      rgba(191, 148, 192, 0.85),
      rgba(97, 167, 143, 0.85)
    ),
    url("../../../assets/group-cover-1.jpg");
  background-repeat: initial;
  background-position: center;
  color: #fff;
  margin-bottom: 2rem;
  padding: 4rem 0;
}

.icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.textWhite {
  color: white;
}
