.newarticle {
  background-color: #e4e6eb;
  padding: 8px;
  border-radius: 24px;
}
.icon {
  background-image: linear-gradient(
    135deg,
    rgba(193, 4, 126, 0.8),
    rgba(172, 54, 211, 0.8),
    rgba(89, 81, 202, 0.8)
  );
}
.formArticle {
  border-radius: 0.0625in !important;
}
