@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&display=swap");
.icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
.textTitle {
  font-family: "Lora";
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 0px;
}
