.story ul {
  display: flex;
  margin: 0;
  padding-left: 0;
  height: 30vh;
  margin-bottom: 20px;
}

.story ul li {
  padding: 0px 25px;
  list-style: none;
  position: relative;
}

.story ul li > div {
  height: 100% !important;
}

.image3 {
  background-image: url("../../../assets/viet.jpg");
}

.image2 {
  background-image: url("../../../assets/hien.jpg");
}

.image1 {
  background-image: url("../../../assets/duc.jpg");
}
